@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
}

.navbar {
  padding: .8rem;
}

.navbar-nav {
  padding-right: 20px;
}

.nav-item {
  padding-right: 10px;
}

.nav-link {
  font-size: 1.1em !important;
}

.carousel-inner img {
  min-width: 100%;
  height: 90vh;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-caption h1 {
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 10px #000;
}

.carousel-caption h3 {
  text-transform: uppercase;
  text-shadow: 1px 1px 10px #000;
}

.carousel-caption button {
  background-color: rgba(0, 0, 0, 0.3);
  text-shadow: 1px 1px 10px #000;
}

.jumbotron {
  padding: 2rem;
}

.intro {
  width: 90%;
  transform: translateX(10%);
}

.padding {
  padding-bottom: 2rem;
}

.welcome {
  width: 100%;
  margin: 0 auto;
  padding-top: 2rem;
}

.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}

.parallax {
  background-image: url(img/university-of-waterloo-arielshot.jpg);
  height: 50%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax h1 {
  text-align: center;
  transform: translateY(100%);
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 10px #000;
}
