@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color: #222;
  scroll-behavior: smooth;
}

.navbar {
  padding: .8rem;
}

.navbar-nav {
  padding-right: 20px;
}

.nav-item {
  padding-right: 10px;
}

.nav-link {
  font-size: 1.1em !important;
}

.carousel-inner img {
  min-width: 100%;
  height: 90vh;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-caption h1 {
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 4px 4px 10px #000;
}

.carousel-caption h3 {
  text-transform: uppercase;
  text-shadow: 4px 4px 10px #000;
}

.carousel-caption button {
  background-color: rgba(0, 0, 0, 0.4);
  text-shadow: 1px 1px 10px #000;
}

.jumbotron {
  padding: 2rem;
}

.intro {
  width: 90%;
  transform: translateX(10%);
}

.list {
  line-height: 8px;
}

.padding-small {
  padding-bottom: 1rem;
}

.padding {
  padding-bottom: 2rem;
}

.padding-2 {
  padding-bottom: 4rem;
}

.margin-left {
  margin-left: 2rem;
}

.welcome {
  width: 100%;
  margin: 0 auto;
  padding-top: 2rem;
}

.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-arielshot {
  background-image: url(img/university-of-waterloo-arielshot.jpg);
}

.parallax-contact {
  background-image: url(img/contact-me.jpg);
  height: 80%;
}

.parallax-construction {
  background-image: url(img/page-under-construction.png);
  height: 80%;
}

.parallax-software {
  background-image: url(img/software-development.png);
}

.parallax-interests {
  background-image: url(img/interests.png);
}

.parallax h1 {
  text-align: center;
  transform: translateY(100%);
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 10px #000;
}

.transparent {
  background-color: rgba(233, 236, 239, 0.8);
}

.grey-background {
  background-color: rgba(233, 236, 239, 0.5);
}

.social a {
  font-size: 4.5rem;
  padding: 3rem;
}

.fa-linkedin {
  color: #2867B2;
}

.fa-github {
  color: #211F1F;
}

.fa-instagram {
  display: inline-block;
  width: 200px;
  height: 70px;
  text-align: center;
  border-radius: 40px;
  color: #fff;
  line-height: 250px;
  vertical-align: middle;
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}

.fa-linkedin:hover,
.fa-github:hover,
.fa-instagram:hover {
  color: #d5d5d5;
}

.fa-code {
  font-size: 500%;
  color: #e34f26;
}

.fa-css3 {
  font-size: 500%;
  color: #264de4;
}

.fa-js {
  font-size: 500%;
  color: #f0db4f;
}

.smaller {
  font-size: 300%;
}

footer {
  background-color: #3f3f3f;
  color: #d5d5d5;
  padding-top: 2rem;
}

footer p {
  width: 70%;
  transform: translateX(20%);
}

hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
